@model FileExcelViewModel
@{
    ViewData["Title"] = "Contrato QR - Prestadores de Servicios Depto. Salud - Quilicura";
}

<div class="container">
    <div class="text-center">
        <h2 class="text-black py-5">
            Subir Archivo Excel
        </h2>
        <div class="row">
            <form asp-controller="UploadFile" asp-action="FileUpload" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="radio" id="CodigoQR" name="archivo" value="@Model.IdCodigoQR">
                            <label for="CodigoQR">Código QR</label><br>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="radio" id="Certificado" name="archivo" value="@Model.IdPlantaContrata">
                            <label for="Certificado">Certificado Planta/Contrata</label><br>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="radio" id="Certificado" name="archivo" value="@Model.IdHonorario">
                            <label for="Certificado">Certificado Honorario</label><br>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="form-group col-md-6">
                        <input class="form-control" name="file" id="file" type="file" />
                    </div>

                    <div class="form-group col-md-3">
                        <button class="btn btn-outline-primary w-100">
                            Subir Archivo
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
@if (Model.IsError != null && Model.IsError == "NO")
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '@Html.Raw(Model.Mensaje)'
        });
    </script>
}
else if (Model.IsError != null && Model.IsError == "SI")
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: '@Html.Raw(Model.Mensaje)'
        });
    </script>
}