@model PersonalViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contrato QR - Prestadores de Servicios Depto. Salud - Quilicura";
}

<div class="col-md-12">
    <div class="card border-light mb-3">
        <div class="card-content">
            <h4 class="card-title">Generar Certificado</h4>
            @using (Html.BeginForm("Generar", "CertificadoAntiguedad", FormMethod.Post, new { id = "formGenerar" }))
            {
                <div class="row" style="margin-top: 1.5rem;">
                    <div class="form-group col-md-3">
                        <label for="txtRut">Rut</label>
                        @Html.TextBoxFor(m => m.personalEntity.RutPersonal, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtNombre">Nombre</label>
                        @Html.TextBoxFor(m => m.personalEntity.NombreCompleto, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <br />

                <br />
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="txtFecInicioServicio">Fec. Inicio Servicio</label>
                        @Html.TextBoxFor(m => m.personalEntity.FecInicioContrato, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtNombreCargo">Cargo</label>
                        @Html.TextBoxFor(m => m.personalEntity.NombreCargo, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="txtNroHora">Nro. Hora</label>
                        @Html.TextBoxFor(m => m.personalEntity.NroHora, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group col-md-2">
                        <label for="txtCategoria">Categoria</label>
                        @Html.TextBoxFor(m => m.personalEntity.Categoria, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group col-md-2">
                        <label for="txtNivel">Nivel</label>
                        @Html.TextBoxFor(m => m.personalEntity.Nivel, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="txtCorreoElectronico">E-Mail</label>
                        @Html.TextBoxFor(m => m.personalEntity.CorreoElectronico, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row" style="margin-top: 3rem;">
                    <div class="form-group col-md-3 left-align">
                        <button class="btn btn-info" type="submit">
                            Generar Certificado
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Modal de carga -->
    <div class="modal fade" id="modalCargando" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-4">
                <div class="spinner-border text-primary mx-auto mb-3"></div>
                <p class="mb-0">Generando certificado, por favor espere...</p>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            document.getElementById('formGenerar').addEventListener('submit', function () {
                var modal = new bootstrap.Modal(document.getElementById('modalCargando'));
                modal.show();
            });
        </script>
    }
</div>